<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-logo">CMS</div>
      <ul class="nav-links">
        <li><a href="/" class="nav-item">Home</a></li>
        <li><a href="#" class="nav-item">About</a></li>
        <li><a href="#" class="nav-item">Search</a></li>
        <li><a href="/contact/create-contact" class="nav-item">Contacts</a></li>
      </ul>
    </nav>
  </body>
</html>